<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/aboutSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/adminBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{32,0},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/coinBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{78,0},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator01Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{0,46},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator10Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{45,46},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator50Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{90,46},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/developerBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{0,87},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/editorSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{45,87},{30,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/gameplaySettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,23}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{135,0},{30,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/global01Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{34,43}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{77,87},{34,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/global10Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{34,43}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{122,87},{34,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/global50Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{34,43}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{45,123},{34,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/graphicsSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{29,29}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{90,123},{29,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/interfaceSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,27}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,128},{30,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/modBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{90,154},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/songsSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{24,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{136,132},{24,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/trollBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,37}</string>
			<key>spriteSourceSize</key>
			<string>{44,44}</string>
			<key>textureRect</key>
			<string>{{32,159},{44,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/tweaksSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,157},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/BadgeSheet-hd.png</string>
		<key>size</key>
		<string>{160,198}</string>
		<key>textureFileName</key>
		<string>zmx.aura/BadgeSheet-hd.png</string>
	</dict>
</dict>
</plist>