<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/aboutSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/adminBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{17,0},{22,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/coinBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{41,0},{22,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator01Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{0,24},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator10Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{24,24},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/creator50Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{48,24},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/developerBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{0,47},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/editorSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{24,47},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/gameplaySettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{15,14}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{41,47},{15,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/global01Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{58,47},{19,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/global10Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{24,64},{19,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/global50Badge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{0,70},{19,22}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/graphicsSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{48,71},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/interfaceSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{24,85},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/modBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{41,88},{22,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/songsSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{14,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{65,71},{14,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/trollBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{0,91},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/tweaksSettingsBadge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{15,15}</string>
			<key>spriteSourceSize</key>
			<string>{15,15}</string>
			<key>textureRect</key>
			<string>{{24,102},{15,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/BadgeSheet.png</string>
		<key>size</key>
		<string>{79,117}</string>
		<key>textureFileName</key>
		<string>zmx.aura/BadgeSheet.png</string>
	</dict>
</dict>
</plist>