<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/player_49_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_49_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,25}</string>
			<key>spriteSourceSize</key>
			<string>{24,25}</string>
			<key>textureRect</key>
			<string>{{32,0},{24,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/player_49_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{59,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{93,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,26}</string>
			<key>spriteSourceSize</key>
			<string>{26,26}</string>
			<key>textureRect</key>
			<string>{{125,0},{26,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,32},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{93,32},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{28,27}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{125,28},{28,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{34,34},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{66,64},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_52_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{100,64},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_52_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,20}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{132,57},{26,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/player_52_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,66},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{100,96},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{34,98},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,35}</string>
			<key>spriteSourceSize</key>
			<string>{35,35}</string>
			<key>textureRect</key>
			<string>{{68,130},{35,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{37,37}</string>
			<key>textureRect</key>
			<string>{{105,130},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,37}</string>
			<key>spriteSourceSize</key>
			<string>{37,37}</string>
			<key>textureRect</key>
			<string>{{0,134},{37,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_special_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{105,154},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_special_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{39,167},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/ship_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{44,25}</string>
			<key>spriteSourceSize</key>
			<string>{47,25}</string>
			<key>textureRect</key>
			<string>{{105,186},{44,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/ship_19_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{43,25}</string>
			<key>spriteSourceSize</key>
			<string>{47,25}</string>
			<key>textureRect</key>
			<string>{{71,167},{43,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/ship_19_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{45,25}</string>
			<key>spriteSourceSize</key>
			<string>{47,25}</string>
			<key>textureRect</key>
			<string>{{0,173},{45,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/IconsSheet.png</string>
		<key>size</key>
		<string>{153,218}</string>
		<key>textureFileName</key>
		<string>zmx.aura/IconsSheet.png</string>
	</dict>
</dict>
</plist>