<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/player_49_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_49_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,50}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{62,0},{49,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/player_49_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,64}</string>
			<key>spriteSourceSize</key>
			<string>{65,64}</string>
			<key>textureRect</key>
			<string>{{114,0},{65,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{181,0},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,53}</string>
			<key>spriteSourceSize</key>
			<string>{53,53}</string>
			<key>textureRect</key>
			<string>{{244,0},{53,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_50_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{244,55},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{0,62},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-6}</string>
			<key>spriteSize</key>
			<string>{52,50}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{181,63},{52,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{61,61}</string>
			<key>spriteSourceSize</key>
			<string>{61,61}</string>
			<key>textureRect</key>
			<string>{{63,66},{61,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_51_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{126,115},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_52_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{235,122},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_52_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,34}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,125},{45,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_52_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{47,129},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{113,182},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{180,184},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_53_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,65}</string>
			<key>spriteSourceSize</key>
			<string>{65,65}</string>
			<key>textureRect</key>
			<string>{{245,184},{65,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,71}</string>
			<key>spriteSourceSize</key>
			<string>{71,71}</string>
			<key>textureRect</key>
			<string>{{0,195},{71,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{43,39}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{73,249},{43,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_ball_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,75}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{118,249},{75,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_special_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{195,251},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/player_special_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{0,268},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/ship_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{86,50}</string>
			<key>spriteSourceSize</key>
			<string>{95,50}</string>
			<key>textureRect</key>
			<string>{{257,251},{86,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/ship_19_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{83,48}</string>
			<key>spriteSourceSize</key>
			<string>{95,50}</string>
			<key>textureRect</key>
			<string>{{62,290},{83,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/ship_19_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{88,50}</string>
			<key>spriteSourceSize</key>
			<string>{95,50}</string>
			<key>textureRect</key>
			<string>{{112,326},{88,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/IconsSheet-hd.png</string>
		<key>size</key>
		<string>{310,376}</string>
		<key>textureFileName</key>
		<string>zmx.aura/IconsSheet-hd.png</string>
	</dict>
</dict>
</plist>