<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/demonListBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{204,62}</string>
			<key>spriteSourceSize</key>
			<string>{207,62}</string>
			<key>textureRect</key>
			<string>{{0,0},{204,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/discordIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,61}</string>
			<key>spriteSourceSize</key>
			<string>{64,61}</string>
			<key>textureRect</key>
			<string>{{206,0},{64,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/exportIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,60}</string>
			<key>spriteSourceSize</key>
			<string>{48,60}</string>
			<key>textureRect</key>
			<string>{{272,0},{48,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/geodeLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{213,59}</string>
			<key>spriteSourceSize</key>
			<string>{213,59}</string>
			<key>textureRect</key>
			<string>{{0,64},{213,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/hideBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,37}</string>
			<key>spriteSourceSize</key>
			<string>{54,37}</string>
			<key>textureRect</key>
			<string>{{272,50},{54,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/highObjectIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,23}</string>
			<key>textureRect</key>
			<string>{{215,63},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/importIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,60}</string>
			<key>spriteSourceSize</key>
			<string>{48,60}</string>
			<key>textureRect</key>
			<string>{{215,89},{48,60}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/originalGame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{170,31}</string>
			<key>spriteSourceSize</key>
			<string>{170,33}</string>
			<key>textureRect</key>
			<string>{{0,125},{170,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/restartCheckBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{172,139},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{0,158},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{96,233},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/specialThanksBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{138,133}</string>
			<key>spriteSourceSize</key>
			<string>{163,133}</string>
			<key>textureRect</key>
			<string>{{192,233},{138,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/superCoin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{97,98}</string>
			<key>spriteSourceSize</key>
			<string>{97,133}</string>
			<key>textureRect</key>
			<string>{{0,327},{97,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/toolsPageBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{204,62}</string>
			<key>spriteSourceSize</key>
			<string>{207,62}</string>
			<key>textureRect</key>
			<string>{{100,368},{204,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/ModificationsSheet-hd.png</string>
		<key>size</key>
		<string>{332,430}</string>
		<key>textureFileName</key>
		<string>zmx.aura/ModificationsSheet-hd.png</string>
	</dict>
</dict>
</plist>