<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/demonListBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{103,31}</string>
			<key>spriteSourceSize</key>
			<string>{103,31}</string>
			<key>textureRect</key>
			<string>{{0,0},{103,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/discordIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{105,0},{32,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/exportIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,30}</string>
			<key>spriteSourceSize</key>
			<string>{24,30}</string>
			<key>textureRect</key>
			<string>{{139,0},{24,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/geodeLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{106,29}</string>
			<key>spriteSourceSize</key>
			<string>{106,29}</string>
			<key>textureRect</key>
			<string>{{0,33},{106,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/hideBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,18}</string>
			<key>spriteSourceSize</key>
			<string>{27,18}</string>
			<key>textureRect</key>
			<string>{{108,32},{27,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/highObjectIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,11}</string>
			<key>spriteSourceSize</key>
			<string>{11,11}</string>
			<key>textureRect</key>
			<string>{{137,32},{11,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/importIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,30}</string>
			<key>spriteSourceSize</key>
			<string>{24,30}</string>
			<key>textureRect</key>
			<string>{{137,45},{24,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/originalGame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,16}</string>
			<key>spriteSourceSize</key>
			<string>{85,16}</string>
			<key>textureRect</key>
			<string>{{0,64},{85,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/restartCheckBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{87,64},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{0,82},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,47}</string>
			<key>spriteSourceSize</key>
			<string>{46,47}</string>
			<key>textureRect</key>
			<string>{{49,112},{46,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/specialThanksBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{71,66}</string>
			<key>spriteSourceSize</key>
			<string>{81,66}</string>
			<key>textureRect</key>
			<string>{{98,112},{71,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/superCoin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{48,66}</string>
			<key>textureRect</key>
			<string>{{0,160},{48,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/toolsPageBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{103,31}</string>
			<key>spriteSourceSize</key>
			<string>{103,31}</string>
			<key>textureRect</key>
			<string>{{51,185},{103,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/ModificationsSheet.png</string>
		<key>size</key>
		<string>{164,216}</string>
		<key>textureFileName</key>
		<string>zmx.aura/ModificationsSheet.png</string>
	</dict>
</dict>
</plist>