<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zmx.aura/demonListBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,1}</string>
			<key>spriteSize</key>
			<string>{406,123}</string>
			<key>spriteSourceSize</key>
			<string>{415,125}</string>
			<key>textureRect</key>
			<string>{{0,0},{406,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/discordIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{122,119}</string>
			<key>spriteSourceSize</key>
			<string>{128,122}</string>
			<key>textureRect</key>
			<string>{{408,0},{122,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/exportIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,120}</string>
			<key>spriteSourceSize</key>
			<string>{96,120}</string>
			<key>textureRect</key>
			<string>{{532,0},{96,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/geodeLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{427,119}</string>
			<key>spriteSourceSize</key>
			<string>{427,119}</string>
			<key>textureRect</key>
			<string>{{0,125},{427,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/hideBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{105,71}</string>
			<key>spriteSourceSize</key>
			<string>{108,74}</string>
			<key>textureRect</key>
			<string>{{532,98},{105,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/highObjectIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{429,121},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/importIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,120}</string>
			<key>spriteSourceSize</key>
			<string>{96,120}</string>
			<key>textureRect</key>
			<string>{{429,171},{96,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/originalGame.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{339,51}</string>
			<key>spriteSourceSize</key>
			<string>{340,66}</string>
			<key>textureRect</key>
			<string>{{0,246},{339,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/restartCheckBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{341,269},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{0,299},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/sendBtn2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{185,451},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/specialThanksBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,1}</string>
			<key>spriteSize</key>
			<string>{267,265}</string>
			<key>spriteSourceSize</key>
			<string>{326,266}</string>
			<key>textureRect</key>
			<string>{{370,451},{267,265}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zmx.aura/superCoin.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,35}</string>
			<key>spriteSize</key>
			<string>{193,196}</string>
			<key>spriteSourceSize</key>
			<string>{194,266}</string>
			<key>textureRect</key>
			<string>{{0,633},{193,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zmx.aura/toolsPageBtnSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,1}</string>
			<key>spriteSize</key>
			<string>{406,123}</string>
			<key>spriteSourceSize</key>
			<string>{415,125}</string>
			<key>textureRect</key>
			<string>{{198,718},{406,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zmx.aura/ModificationsSheet-uhd.png</string>
		<key>size</key>
		<string>{652,841}</string>
		<key>textureFileName</key>
		<string>zmx.aura/ModificationsSheet-uhd.png</string>
	</dict>
</dict>
</plist>